/* Variables */
:root{
    --dark_gray: #545454;
    --light_gray: #f2f3f5;
    --rgba_light_gray: 242,243,245;
    --blue: #5ce1e6;
    --white: #FFFF;
}
.dark_mode{
    --dark_gray: #f2f3f5;
    --light_gray: #545454;
    --rgba_light_gray: 84,84,84;
}
/* Default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    color: var(--dark_gray);
    background-color: var(--light_gray);
}
/* Header */
header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
    color: var(--dark_gray);
    font-weight: bold;
    background-color: var(--light_gray);
}
.logo img{
    padding: 1rem;
    width: 6.5rem;
    transition: 0.5s;
}
.logo img:hover{
    padding: 0.5rem;
    cursor: pointer;
}
nav{
    display: flex;
}
.nav_list{
    display: flex;
    list-style: none;
}
.nav_item{
    padding-right: 1.5rem;
}
.nav_item::after{
    content: '';
    width: 0;
    height: 0.2rem;
    background: var(--blue);
    display: block;
    transition: width .3s;
}
.nav_item:hover::after{
    width: 100%;
    transition: width .3s;
}
.nav_item a{
    text-decoration: none;
    color: var(--dark_gray);
    transition: 0.3s;
}
.nav_item a:hover{
    color: var(--blue);
}

#dark_icon{
    width: 1.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: 0.3s;
    fill: var(--dark_gray);
}
#dark_icon:hover{
    fill: var(--blue);
}
#light_icon{
    display: none;
    width: 2rem;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: 0.3s;
    fill: var(--dark_gray);
}
#light_icon:hover{
    fill: var(--blue);
}
/* Button */
#top_button{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1.5rem;
    background-color: var(--blue);
    fill: var(--light_gray);
    transition: 0.3s;
    opacity: 0;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
}
#top_button:hover{
    fill: var(--dark_gray);
    transition: 0.3s;
}
.svg_up{
    height: 2rem;
}
/* Body */
#home{
    height: 100vh;
}
.info{
    width: 30%;
    padding-top: 20%;
    margin-left: 10%;
    transition: 0.3s;
}
.info h1{
    font-size: 5rem;
}
.info span{
    color: var(--blue);
}
.info .text_item{
    font-size: 2.5rem;
}
.cv_button{
    text-decoration: none;
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--dark_gray);
    color: var(--light_gray);
    cursor: pointer;
    transition: 0.3s;
}
.cv_button:hover{
    background-color: var(--blue);
}
.img_box{
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}
.img_box img{
    height: 80vh;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
}
.img_box #blue_lines{
    right: 10%;
    bottom: 2rem;
}
.img_box:hover #blue_lines{
    right: 9%;
    bottom: 0rem;
}
.img_box #personal_photo{
    right: 15%;
}
.img_box:hover #personal_photo{
    right: 17%;
}
/* About */
#about{
    padding: 5%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.personal_info{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.personal_info img{
    padding: 5rem;
    background-image: url(assets/about_llines.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.personal_text{
    margin: 3rem;
}
.personal_p{
    text-align: justify;
    font-size: 2rem;
}
.personal_p p{
    margin-bottom: 1.5rem;
}
/* Skills */
#skills{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/skills_lines.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#skill_title{
    font-size: 4rem;
    padding:  3rem;
}
.skills_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.skill_item{
    width: 20%;
    text-align: center;
}
.skill_item li{
    list-style: none;
    font-size: 1.8rem;
}
.svg_icon{
    height: 8rem;
    fill: var(--dark_gray);
}
/* Portfolio */
#portfolio{
    min-height: 100vh;
    background-image: url(assets/portfolio_lines.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-top: 5%;
}
.portfolio_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 140rem;
    margin: auto;
}
#portfolio_title{
    font-size: 4rem;
    border-bottom: 2px solid var(--dark_gray);
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
}
.selector_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem;
}
.active{
    font-weight: bold;
}
.selector_list li{
    text-decoration: none;
    color: var(--dark_gray);
    padding: 1rem;
    font-size: 2rem;
}
.selector_list li:hover{
    color: var(--dark_gray);
    font-weight: bold;
    cursor: pointer;
}
.projects_container{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}
.project_item{
    width: 30rem;
    height: 30rem;
    margin: 2rem;
    text-decoration: none;
    color: var(--dark_gray);
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
}
.project_item img{
    width: 100%;
}
.item_hover{
    position: absolute;
    width: 100%;
    padding: 2rem;
    color: var(--dark_gray);
    background-color: var(--light_gray);
    z-index: 100;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}
.project_item:hover .item_hover{
    opacity: 1;
    transition: 0.3s;
}
/*  Image animations */
.fadeIn{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
