/* Variables */
:root{
    --dark_gray: #545454;
    --light_gray: #f2f3f5;
    --rgba_light_gray: 242,243,245;
    --blue: #5ce1e6;
    --white: #FFFF;
}
.dark_mode{
    --dark_gray: #f2f3f5;
    --light_gray: #545454;
    --rgba_light_gray: 84,84,84;
}
/* Default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    color: var(--dark_gray);
    background-color: var(--light_gray);
}
/* Header */
header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
    color: var(--dark_gray);
    font-weight: bold;
    background-color: var(--light_gray);
}
.logo img{
    padding: 1rem;
    width: 6.5rem;
    transition: 0.5s;
}
.logo img:hover{
    padding: 0.5rem;
    cursor: pointer;
}
nav{
    display: flex;
}
.nav_list{
    display: flex;
    list-style: none;
}
.nav_item{
    padding-right: 1.5rem;
}
.nav_item::after{
    content: '';
    width: 0;
    height: 0.2rem;
    background: var(--blue);
    display: block;
    transition: width .3s;
}
.nav_item:hover::after{
    width: 100%;
    transition: width .3s;
}
.nav_item a{
    text-decoration: none;
    color: var(--dark_gray);
    transition: 0.3s;
}
.nav_item a:hover{
    color: var(--blue);
}

#dark_icon{
    width: 1.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: 0.3s;
    fill: var(--dark_gray);
}
#dark_icon:hover{
    fill: var(--blue);
}
#light_icon{
    display: none;
    width: 2rem;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: 0.3s;
    fill: var(--dark_gray);
}
#light_icon:hover{
    fill: var(--blue);
}

/* Body */
#home{
    height: 100vh;
}
.info{
    width: 30%;
    padding-top: 20%;
    margin-left: 10%;
    transition: 0.3s;
}
.info h1{
    font-size: 5rem;
}
.info span{
    color: var(--blue);
}
.info .text_item{
    font-size: 2.5rem;
}
.cv_button{
    text-decoration: none;
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--dark_gray);
    color: var(--light_gray);
    cursor: pointer;
    transition: 0.3s;
}
.cv_button:hover{
    background-color: var(--blue);
}
.img_box{
    position: absolute;
    width: 70%;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}
.img_box img{
    height: 80vh;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
}
.img_box #blue_lines{
    right: 10%;
    bottom: 2rem;
}
.img_box:hover #blue_lines{
    right: 9%;
    bottom: 0rem;
}
.img_box #personal_photo{
    right: 15%;
}
.img_box:hover #personal_photo{
    right: 17%;
}
/* About */
#about{
    padding: 5%;
    height: 100vh;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.personal_container{
    background-color: rgba(var(--rgba_light_gray),0.9);;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    padding: 5rem;
    margin: 5rem auto;
}
.personal_info{
    display: grid;
    grid-template-areas: "title title" "photo textp";
    height: 90%;
}
.personal_info h1{
    grid-area: title;
    margin-left: 0.7rem;
}
.personal_info img{
    grid-area: photo;
}
.personal_p{
    grid-area: textp;
    text-align: justify;
    font-size: 2rem;
    margin: auto;
    padding: 2rem;
}
.personal_p p{
    margin-bottom: 1.5rem;
}
/* Skills */
#skills{
    text-align: center;
    padding: 5%;
    height: 100vh;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.skills_container{
    padding: 2rem 0rem;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3,20rem) / repeat(3,30%);
    gap: 2rem;
    justify-content: center;
}
.grid_item{
    background: var(--light_gray);
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
    border-bottom: 4px solid var(--dark_gray);
    fill: var(--dark_gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.svg_icon{
    width: 10rem;
}
.grid_item:hover{
    border-bottom: 4px solid var(--blue);
    fill: var(--blue);
    color: var(--blue);
}
/*  Image animations */
.fadeIn{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
