/* Variables */
:root{
    --dark_gray: #545454;
    --light_gray: #f2f3f5;
    --rgba_light_gray: 242,243,245;
    --blue: #5ce1e6;
    --white: #FFFF;
}
.dark_mode{
    --dark_gray: #f2f3f5;
    --light_gray: #545454;
    --rgba_light_gray: 84,84,84;
}
/* Default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    color: var(--dark_gray);
    background-color: var(--light_gray);
}
/* Header */
header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
    color: var(--dark_gray);
    font-weight: bold;
    background-color: var(--light_gray);
}
.logo img{
    padding: 1rem;
    width: 6.5rem;
    transition: 0.5s;
}
.logo img:hover{
    padding: 0.5rem;
    cursor: pointer;
}
nav{
    display: flex;
}
#check{
    display: none;
}
nav #burguer{
    fill: var(--dark_gray);
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}
.nav_list{
    display: flex;
    list-style: none;
}
.nav_item{
    padding-right: 1.5rem;
}
.nav_item::after{
    content: '';
    width: 0;
    height: 0.2rem;
    background: var(--blue);
    display: block;
    transition: width .3s;
}
.nav_item:hover::after{
    width: 100%;
    transition: width .3s;
}
.nav_item a{
    text-decoration: none;
    color: var(--dark_gray);
    transition: 0.3s;
}
.nav_item a:hover{
    color: var(--blue);
}

#dark_icon{
    width: 1.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: 0.3s;
    fill: var(--dark_gray);
}
#dark_icon:hover{
    fill: var(--blue);
}
#light_icon{
    display: none;
    width: 2rem;
    cursor: pointer;
    margin-right: 1.5rem;
    transition: 0.3s;
    fill: var(--dark_gray);
}
#light_icon:hover{
    fill: var(--blue);
}
/* Button */
#top_button{
    position: fixed;
    z-index: 100;
    bottom: 2rem;
    right: 2rem;
    padding: 1.5rem;
    background-color: var(--blue);
    fill: var(--light_gray);
    transition: 0.3s;
    opacity: 0;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
}
#top_button:hover{
    fill: var(--dark_gray);
    transition: 0.3s;
}
.svg_up{
    height: 2rem;
}
/* Body */
#home{
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
}
.home_container{
    height: 100%;
    display: flex;
}
.info{
    width: 30%;
    padding-top: 20%;
    margin-left: 10%;
    transition: 0.3s;
}
.info h1{
    font-size: 5rem;
}
.info span{
    color: var(--blue);
}
.info .text_item{
    font-size: 2.5rem;
}
.cv_button{
    text-decoration: none;
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--dark_gray);
    color: var(--light_gray);
    cursor: pointer;
    transition: 0.3s;
}
.cv_button:hover{
    background-color: var(--blue);
}
.img_box{
    position: relative;
    width: 70%;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}
.img_box img{
    height: 80vh;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
    max-height: 85rem;
}
.img_box #blue_lines{
    right: 10%;
    bottom: 2rem;
}
.img_box:hover #blue_lines{
    right: 9%;
    bottom: 0rem;
}
.img_box #personal_photo{
    right: 15%;
}
.img_box:hover #personal_photo{
    right: 17%;
}
/* About */
#about{
    display: flex;
    padding: 5%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}
.personal_info{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.personal_info img{
    padding: 5rem;
    background-image: url(assets/about_llines.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.personal_text{
    margin: 3rem;
}
.personal_p{
    text-align: justify;
    font-size: 2rem;
}
.personal_p p{
    margin-bottom: 1.5rem;
}
/* Skills */
#skills{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/skills_lines.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#skill_title{
    font-size: 4rem;
    padding:  3rem;
}
.skills_container{
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 1920px;
}
.skill_item{
    width: 20%;
    text-align: center;
}
.skill_item li{
    list-style: none;
    font-size: 1.8rem;
}
.svg_icon{
    height: 8rem;
    fill: var(--dark_gray);
}
/* Portfolio */
#portfolio{
    min-height: 100vh;
    background-image: url(assets/portfolio_lines.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-top: 5%;
}
.portfolio_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 140rem;
    margin: auto;
}
#portfolio_title{
    font-size: 4rem;
    border-bottom: 2px solid var(--dark_gray);
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
}
.selector_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 1rem;
}
.active{
    font-weight: bold;
}
.selector_list li{
    text-decoration: none;
    color: var(--dark_gray);
    padding: 1rem;
    font-size: 2rem;
}
.selector_list li:hover{
    color: var(--dark_gray);
    font-weight: bold;
    cursor: pointer;
}
.projects_container{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
}
.project_item{
    width: 30rem;
    height: 30rem;
    margin: 2rem;
    text-decoration: none;
    color: var(--dark_gray);
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16);
}
.project_item img{
    width: 100%;
}
.item_hover{
    position: absolute;
    width: 100%;
    padding: 2rem;
    color: var(--dark_gray);
    background-color: var(--light_gray);
    z-index: 100;
    bottom: 0;
    opacity: 0;
    transition: 0.3s;
}
.project_item:hover .item_hover{
    opacity: 1;
    transition: 0.3s;
}
/* Contact section */
#contact{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(assets/skills_lines.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
}
#contact_title{
    text-align: center;
    font-size: 4rem;
    margin: 1rem;
    margin-bottom: 4rem;
}
.info_contact_container{
    display: flex;
    align-items: center;
    max-width: 85rem;
    justify-content: space-evenly;
}
.contact_text{
    margin: 3rem;
    width: 50%;
}
.contact_text ul{
    justify-content: center;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.contact_text ul li{
    list-style: none;
    margin-top: 2rem;
}
.contact_text ul li a{
    text-decoration: none;
    color: var(--light_gray);
    padding: 0.8rem;
    background-color: var(--dark_gray);
    transition: 0.3s;
}
.contact_text ul li a:hover{
    background-color: var(--blue);
}
.contact_form{
    padding: 2rem;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.425);
    background-color: var(--light_gray);
    width: 40%;
}
.contact_form h1{
    margin-bottom: 1rem;
}
.contact_form form{
    display: flex;
    flex-direction: column;
}
.contact_form form input,textarea{
    margin-bottom: 1rem;
    background: none;
    padding: 1rem;
    border: solid 1px var(--dark_gray);
    resize: none;
}
.form_button{
    border: none;
    background-color: var(--dark_gray);
    padding: 1rem;
    color: var(--light_gray);
    cursor: pointer;
    transition: 0.3s;
}
.form_button:hover{
    background-color: var(--blue);
}
/*  Image animations */
.fadeIn{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* Responsive */
/* 1280-1920 */
@media screen and (max-width: 1919px){
    .personal_info img{
        height: 50rem;
    }
    .project_item{
        width: 25rem;
        height: 25rem;
    }
}
/* 769-1279 */
@media screen and (max-width:1279px) {
    .project_item{
        width: 20rem;
        height: 20rem;
    }
    .personal_info img{
        height: 40rem;
    }
}
/* 481-768 */
@media screen and (max-width:880px) {
    /* Home */
    .home_container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .info{
        width: 100%;
        padding: 2rem;
        text-align: center;
        margin: 0 auto;
    }
    .info h1{
        font-size: 3.5rem;
    }
    .img_box{
        width: 100%;
        height: 40%;
        margin-top: 8rem;
    }
    .img_box img{
        height: 100%;
    }
    /* About */
    #about{
        padding-top: 8rem;
    }
    .personal_info{
        flex-direction: column-reverse;
    }
    .personal_info img{
        height: 35rem;
    }
    .personal_text p{
        font-size: 1.6rem;
    }
    /* Skills */
    #skill_title{
        margin-top: 5rem;
    }
    .skills_container{
        flex-direction: column;
        align-items: center;
    }
    .skill_item{
        margin-bottom: 4rem;
        font-size: 1.2rem;
    }
    /* Portfolio */
    #portfolio{
        padding-top: 8rem;
    }
    .projects_container{
        justify-content: center;
        width: 80%;
        font-size: 1.4rem;
    }
    /* Contatct */
    #contact{
        padding-top: 8rem;
    }
    .info_contact_container{
        flex-direction: column;
    }
    .contact_form{
        width: 70%;
    }
    #portfolio_title{
        width: 80%;
    }
}
/* 320-480 */
@media screen and (max-width:560px) {
    .info h1{
        font-size: 2.8rem;
    }
    .info .text_item{
        font-size: 1.8rem;
    }
    .cv_button{
        font-size: 2.2rem;
    }
    .img_box{
        width: 100%;
        height: 40%;
        
    }
    .nav_list{
        position: fixed;
        width: 70%;
        height: 93vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--light_gray);
        box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.425);
        right: -100%;
        top: 6.9rem;
        transition: all 0.5s;
    }
    nav #burguer{
        display: block;
        right: 0;
    }
    #check:checked ~ .nav_list{
        right: 0;
    }
    #skills{
        background-repeat: repeat;
        background-size: contain;
    }
}
/* 0-319 */
@media screen and (max-width:319px) {
    .info h1{
        font-size: 2.5rem;
    }
    .info .text_item{
        font-size: 1.5rem;
    }
    .cv_button{
        font-size: 2rem;
    }
}